@import "./variables";

input {
  display: inline-block;
  border: $border;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: $gutter-small 0;    

  label {
    display: inline-block;
    line-height: $gutter-small + $font-normal + $border-size*2;
    width: 50%;
  }

  input {
    font-family: $font-family;
    margin-left: $gutter-small;
    display: inline-block;
    box-sizing: border-box;
    padding: $gutter-small / 2;
  }
}

button {
    border: $border;
    padding: $gutter-small;
    font-family: $font-family;

    &.primary {
        background-color: $color-primary;
        color: white;
    }

    &.secondary {
        background-color: $color-secondary;
    }
}