$color-bg: #284B63;
$color-bg-secondary: #19647E;
$color-primary: #28AFB0;
$color-secondary: #087E8B;
$color-secondary-light: #BFD7EA;

$gutter-small: 6px;
$gutter-medium: 12px;
$gutter-large: 24px;

$font-family: 'Roboto', sans-serif;
$font-small: 12px;
$font-normal: 14px;

$border-size: 1px;
// $border: $border-size solid black;
$border: $border-size;