@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import "./_variables";
@import "./_forms";

html,body, #root {
  height: 100%;
  margin: 0;
  background-color: $color-bg;
  font-family: $font-family;
  font-size: $font-normal;
}

